<div id="back"><%= link_to "Back to Post", post_path(@post) %></div>

<h2>Make a New Comment:</h2>
<%= form_for [@post, @comment] do |f| %>

  <div><%= f.label :comment %></div>
  <div><%= f.text_area :comment_body, :cols => "24", :rows => "4" %></div>

  <div><%= f.submit "Create" %></div>
<% end %>
