<h1>Posts <a href="/posts/new">(+)</a></h1>

  <% @posts.each do |post| %>
    <a href="/posts/<%= post.id %>"><%= post.title %></a>
        <div>Updated At: <%= post.updated_at %></div>
        <div><%= post.post_body %></div>
        <div>Tags: <%= post.tag %>  </div>
      </br>
  <% end %>
