<h1>Posts <%= link_to "(+)", new_post_path %></h1>

  <% @posts.each do |post| %>
    <%= link_to post.title, post %>
    <div>Updated At: <%= post.updated_at %></div>
    <div><%= post.post_body %></div>
    <div>Tags: <%= post.tag %>  </div>
    </br>
  <% end %>
