<h1>Posts</h1>


  <% @posts.each do |post| %>
    <a href="/posts/<%= post.id %>"><%= post.title %></a>
      <ul>
        <li>Updated At: <%= post.updated_at %></li>
        <li><%= post.post_body %></li>
        <li>Tags: <%= post.tag %>  </li>
      </ul>
  <% end %>

<!-- <%= form_for posts_path do |f| %>
  <%= f.text_field :name %>
<% end %> -->

<!-- <%= form_for posts_path (@post) do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "Submit" %>
<% end %> -->
